ul.list {
    margin: 0;
    display: flex;
    padding: 4px;
    text-align: center;

    }
ul.list li{
    background-color:paleturquoise;
    display: inline;
    margin:10px;
    padding: 3px;
    text-align: center;
    border: 1px solid #000;

}

p {
    text-align: center;
    /*display: table-cell;*/
    vertical-align: middle;
    height: 50px;
    width:auto;
    font-size: 25px;
    margin: 15px 15px;
}

button {
    margin-bottom: 20px;
}
a {
    font-size: 25px;
    text-decoration: none;
}
h2 {
    font-size: 40px;
}